# Copyright 2025 Sudo Sweden AB
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dockyards-kubevirt
rules:
- apiGroups:
  - bootstrap.cluster.x-k8s.io
  resources:
  - talosconfigtemplates
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datasources
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes/source
  verbs:
  - create
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - machinedeployments
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - controlplane.cluster.x-k8s.io
  resources:
  - taloscontrolplanes
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - clusters/status
  verbs:
  - patch
- apiGroups:
  - dockyards.io
  resources:
  - nodepools
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - nodepools/status
  verbs:
  - patch
- apiGroups:
  - dockyards.io
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - nodes/status
  verbs:
  - patch
- apiGroups:
  - dockyards.io
  resources:
  - organizations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - organizations/status
  verbs:
  - patch
- apiGroups:
  - dockyards.io
  resources:
  - releases
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dockyards.io
  resources:
  - workloads
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gateways
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - tlsroutes
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - kubevirtclusters
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - kubevirtmachines
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - kubevirtmachinetemplates
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - get
  - list
  - patch
  - watch
